[user]
	name     = Gabor Pinkova
	email    = vakesz@users.noreply.github.com
	username = vakesz

[core]
	editor     = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager      = delta
	repositoryformatversion = 0
	bare       = false

[pull]
	rebase = true

[push]
    default = current
    autoSetupRemote = true

[branch]
    autosetupmerge = simple

[alias]    
    # Sync current branch from upstream to your fork (origin)
    sync-fork = "!sh -c '\
        branch=$(git symbolic-ref --short HEAD) && \
        git fetch upstream && \
        git merge --ff-only upstream/$branch && \
        git push origin $branch \
        '"
    # Optional shorthand
    sf = sync-fork
	lol = log --graph --oneline --decorate --all
	
[diff]
	tool = vimdiff

[difftool]
	prompt = false

[credential]
	helper = store

[color]
	ui = auto

[color "branch"]
	current = yellow bold
	local   = green  bold
	remote  = cyan   bold

[color "diff"]
	meta       = yellow bold
	frag       = magenta bold
	old        = red     bold
	new        = green   bold
	whitespace = red     reverse

[color "status"]
	added     = green  bold
	changed   = yellow bold
	untracked = red    bold

[delta]
	features = line-numbers,decorations
	line-numbers = true

[delta "decorations"]
	file-style                  = yellow bold
	file-decoration-style       = yellow box
	hunk-header-style           = magenta bold
	hunk-header-decoration-style= magenta box
	minus-style                 = red    bold normal
	plus-style                  = green  bold normal
	minus-emph-style            = white  bold red
	minus-non-emph-style        = red    bold normal
	plus-emph-style             = white  bold green
	plus-non-emph-style         = green  bold normal
	minus-empty-line-marker-style = normal normal
	plus-empty-line-marker-style  = normal normal
	line-numbers-right-format     = "{np:^4}│ "
