console_title_template = '{{ .Shell }} in {{ .Folder }}'
version = 3
final_space = true

[palette]
  base = '#191724'
  surface = '#1f1d2e'
  overlay = '#26233a'
  muted = '#6e6a86'
  subtle = '#908caa'
  text = '#e0def4'
  love = '#eb6f92'
  gold = '#f6c177'
  rose = '#ebbcba'
  pine = '#31748f'
  foam = '#9ccfd8'
  iris = '#c4a7e7'

[secondary_prompt]
  template = '❯❯ '
  foreground = 'p:subtle'

[transient_prompt]
  template = '❯ '
  foreground_templates = ['{{if gt .Code 0}}p:love{{end}}', '{{if eq .Code 0}}p:subtle{{end}}']

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    template = '{{ .Path }}'
    foreground = 'p:foam'
    type = 'path'
    style = 'plain'

    [blocks.segments.properties]
      style = 'full'

  [[blocks.segments]]
    template = ' {{ .HEAD }}{{if or .Working.Changed .Staging.Changed}}*{{end}}<p:pine>{{if gt .Behind 0}}⇣{{end}}{{if gt .Ahead 0}}⇡{{end}}</>'
    foreground = 'p:text'
    type = 'git'
    style = 'plain'

    [blocks.segments.properties]
      fetch_status = true

[[blocks]]
  type = 'rprompt'
  overflow = 'hidden'

  [[blocks.segments]]
    template = '{{ .FormattedMs }}'
    foreground = 'p:gold'
    type = 'executiontime'
    style = 'plain'

    [blocks.segments.properties]
      threshold = 5000

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = false

  [[blocks.segments]]
    template = ' ❯'
    type = 'text'
    style = 'plain'
    foreground_templates = ['{{if gt .Code 0}}p:love{{end}}', '{{if eq .Code 0}}p:subtle{{end}}']
